<h3><span style="font-weight:normal">{% trans %}You have new message from{% endtrans %}</span> {{name}}<span style="font-weight:normal">!</span></h3>

<br /><br />

<p>{% trans %}Email{% endtrans %}: {{ email }}</p>
<p>{% trans %}Phone number{% endtrans %}: {{ phone_number }}</p>
<p>{% trans %}Company{% endtrans %}: {{ company }}</p>

<br /><br />

{% trans %}Message{% endtrans %}: <p>{{ message }}</p>
